@font-face {
    font-family: 'Noto Sans KR';
    src: url("./fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face{
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");;
}

body{
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
}

header{
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 2.5em;
}

.dark-mode{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
p{
    display: inline-block;
    font-size: small;
    cursor: pointer;
}
p:hover{
    text-decoration: underline;
}

div.disclaimer{
    text-align: center !important;
}
p.disclaimer:hover{
    text-decoration: none !important;
}

small{
    position: absolute;
    color: #454d55;
    font-weight: bold !important;
}

table{
    width: 50% !important;
    transform: translateX(50%);
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
}

#contact{
    margin-top: 5em;
    text-align: center;
}

a[href^="mailto:"]{
    color: #fff;
}
a[href^="mailto:"]:hover{
    color: #007bff !important;
}

.dark{
    background-color: #454d55;
    color: #fff;
}

.no-highlight{
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
